/* .demo-table {
  width: 100%;
}

.mat-column-document {
  width: auto;
  border-right: 1px solid currentColor;
  padding-left: 1px;
}

.mat-column-fullName {
  padding-left: 15px;
  font-style: initial;
}

.mat-column-email {
  width: auto;
  text-align: left;
  font-weight: bold;
}

.mat-column-role {
  text-align: left;
}

.mat-column-borrar {
  text-align: left;
}

.mat-column-editar {
  text-align: left;
}
.test{
display: none;
} */


table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
