<main>
  <h1>
    Materias que podras ver en esta pagina!!
  </h1>
  <div class="container">
    <h1>Matematicas</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus sint aspernatur optio id blanditiis, aperiam
      odit quibusdam unde praesentium quae. Placeat minima sapiente perferendis magnam quasi repudiandae sequi esse
      ducimus.</p>
  </div>
  <div class="container">
    <h1>Estadistica</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus sint aspernatur optio id blanditiis, aperiam
      odit quibusdam unde praesentium quae. Placeat minima sapiente perferendis magnam quasi repudiandae sequi esse
      ducimus.</p>
  </div>
  <div class="container">
    <h1>Biologia</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus sint aspernatur optio id blanditiis, aperiam
      odit quibusdam unde praesentium quae. Placeat minima sapiente perferendis magnam quasi repudiandae sequi esse
      ducimus.</p>
  </div>
  <div class="container">
    <h1>Ciencias Sociales</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus sint aspernatur optio id blanditiis, aperiam
      odit quibusdam unde praesentium quae. Placeat minima sapiente perferendis magnam quasi repudiandae sequi esse
      ducimus.</p>
  </div>
</main>
